* {
   box-sizing: border-box; 
}

html, body {
   min-height: 100vh;
}

body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(125deg, #302015 0%, #1C1008 100%);
}

/* header */
.topnav {
  overflow: hidden;
  background-color: burlywood;
  position:absolute;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
#logo {
    float: left;
    width: 200px;
    margin: 10px 0 10px 30px;
}

.navigation {
float: right;
}

.navigation a {
  float: left;
  color: #1C1008;
  text-align: center;
  padding: 12px 16px;
  margin: 24px;
  text-decoration: none;
  font-size: 18px;
}

.navigation a:hover {
  background-color: blanchedalmond;
  color: #1C1008;
}

.navigation a.active {
  background-color: #1C1008;
  color: blanchedalmond;
  font-weight: bold;
}

/* Container */
.example {
    position: relative;
    width: 80%;
    padding-top: 40%;
    margin: 2rem auto 0 auto;
    z-index: 1;
}    
.example .block {
    position: absolute;
    height: 100%;
    width: 30%;
    perspective: 1000px;
}        
.example .block:nth-of-type(1) {
    height: 80%;
    top: 10%;
    left: 17%;
    width: 15%;
}
        
.example .block:nth-of-type(2) {
    top: 0;
    left: 35%;
}
        
.example .block:nth-of-type(3) {
    height: 80%;
    top: 10%;
    left: 64%;
    width: 15%;
}

.example > .block:nth-of-type(1) > .side.-main {
    background-position: 4% 50%;
    background-size: auto 130%;
}
.example > .block:nth-of-type(1) > .side.-left {
    background-position: 0 50%;
    background-size: auto 130%;
}
.example > .block > .side.-main {
    height: 100%;
    width: 100%;
    transform: rotateY(30deg);
    transform-origin: 0 50%;
}
.example > .block > .side {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../img/ver1.jpg);
    background-size: auto 100%;
    box-shadow: -1vw 0.5vw 1vw rgb(0 0 0 / 30%);
}
.example > .block > .side.-left {
    height: 100%;
    width: 20%;
    transform-origin: 0 50%;
    transform: rotateY(-60deg) translateX(-100%);
    filter: brightness(40%);
}
.example > .block:nth-of-type(2) > .side.-main {
    background-position: 50% 0;
}
.example > .block:nth-of-type(2) > .side.-left {
    background-position: 28.5% 0;
}
   
.example > .block:nth-of-type(3) > .side.-main {
    background-position: 96% 50%;
    background-size: auto 130%;
}
.example > .block:nth-of-type(3) > .side.-left {
    background-position: 78% 50%;
    background-size: auto 130%;
}
.example .block:hover {
    transform: rotateY(360deg);
    -webkit-transform: rotateY(180deg);
    transition-duration: 3s;
    -webkit-transition-duration:2s;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
.example {
    width: 140%;
    padding-top: 75%;
    margin: 20rem 0 0 0;
}  
.example .block:nth-of-type(1) {
    left: 6%;
}       
.example .block:nth-of-type(2) {
    left: 24%;
}        
.example .block:nth-of-type(3) {
    left: 53%;
}   
 #logo {
    margin: 10px 30px 10px 30px;
}
  .navigation a {
    margin: 0;
    margin-top: 24px;
   } 
}

/*Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
.example {
    margin: 1rem 0 0 0;
}
 #logo {
    margin: 10px 30px 10px 30px;
}
  .navigation a {
    margin: 0;
    margin-top: 24px;
    padding: 12px 8px ;
   }
}

@media screen and (max-width: 450px) {
.example {
    margin: 5rem 0 0 0;
}
 #logo {
    margin: 10px 30px 10px 30px;
}
 .navigation a {
  padding: 6px 8px;
  margin: 5px;
   }
}

