* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(125deg, #302015 0%, #1C1008 100%);
  height: 100vh;
  display: flex;
  align-items: center;
  /*background-size: .75em 100%, 100% 100%;*/
}
/* header */
.topnav {
  overflow: hidden;
  background-color: burlywood;
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}
#logo {
    float: left;
    width: 200px;
    margin: 10px 0 10px 30px;
}

.navigation {
float: right;
}

.navigation a {
  float: left;
  color: #1C1008;
  text-align: center;
  padding: 12px 16px;
  margin: 24px;
  text-decoration: none;
  font-size: 18px;
}

.navigation a:hover {
  background-color: blanchedalmond;
  color: #1C1008;
}

.navigation a.active {
  background-color: #1C1008;
  color: blanchedalmond;
  font-weight: bold;
}

 /* Content */
/* new style start */

.content {
  width: 100%;
  overflow: auto;
  height: 100%;
}

.wrapper {
  position: relative;
  flex-grow: 1;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 10px;
  display: grid;
  width: 80%;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 2px;
  justify-items: center;
  align-items: center;
}

.wrapper IMG {
    z-index: 1;
    grid-column: span 2;
    max-width: 100%;
    margin-bottom: -90%;
    transform: scale(1);
    transition: all .25s;
    clip-path: circle(30%);
    filter: grayscale(1);
}
.wrapper img:nth-child(7n + 1) {
  grid-column: 2 / span 2;
}
  
.wrapper img:hover {
  z-index: 2;
  filter: grayscale(0);
  /*clip-path: none;*/
  transform:rotate(180deg);
  transition:transform 1s;
}
/* new style end*/

/* Responsive layout */
@media screen and (max-width: 700px) {
  #logo {
    margin: 10px 30px 10px 30px;
}
  .navigation a {
    margin: 0;
    margin-top: 24px;
   }

  .content {
    -ms-flex: 50%;
    flex: 50%;
    flex: 50%;
    max-width: 100%;
  }
  .wrapper {
    width: 100%;
    margin-top: 30px;
  }
  /*.wrapper {
    grid-template-columns: repeat(4, 0.5fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 2px;
    grid-row-gap: 30px;
    margin-top: 20px;
}*/
}

@media screen and (max-width: 450px) {
  .content {
    -ms-flex: 100%;
    flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
  .wrapper {
    width: 100%;
    margin-top: 50px;
  }
   .wrapper {
    grid-template-columns: repeat(4, 0.5fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 2px;
    grid-row-gap: 30px;
}
  .navigation a {
     margin: 5px;
     padding: 6px 8px;
   }
}

